Obtengo los datos de la API y los visualizo con PANDAS

In [9]:
import requests

import pandas as pd
from datetime import date

import psycopg2
from dotenv import load_dotenv
import os 

from psycopg2.extras import execute_values

url = "https://api.coinlore.net/api/tickers/?start=0&limit=100"
response = requests.get(url)
datos= response.json()

df=pd.DataFrame.from_dict(datos['data']).reset_index().rename(columns={"index":'indice'})
df

,indice,id,symbol,name,nameid,rank,price_usd,percent_change_24h,percent_change_1h,percent_change_7d,price_btc,market_cap_usd,volume24,volume24a,csupply,tsupply,msupply
0,0,90,BTC,Bitcoin,bitcoin,1,71517.07,-2.03,0.01,6.71,1.00,1404837620646.40,5.733038e+10,4.708467e+10,19643390.00,19643390,21000000
1,1,80,ETH,Ethereum,ethereum,2,3887.27,-2.87,0.15,2.46,0.054352,475706278896.94,2.247742e+10,1.962092e+10,122375302.00,122375302,
2,2,2710,BNB,Binance Coin,binance-coin,3,604.72,-3.29,-0.01,37.79,0.008455,100868441793.46,2.980272e+09,3.852188e+09,166801148.00,192443301,200000000
3,3,518,USDT,Tether,tether,4,1.00,0.10,-0.15,-0.02,0.000014,90976504218.18,1.032449e+11,8.348952e+10,90653779562.00,93609080552.592,
4,4,48543,SOL,Solana,solana,5,178.34,9.03,2.86,27.53,0.002493,76043156263.29,7.082614e+09,4.649896e+09,426405733.00,491561409.22682,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,99333,AXL,Axelar,axelar,96,2.11,-4.60,0.42,-5.12,0.000030,1060497708.01,5.667478e+06,4.050967e+06,501601923.00,1079242404,None
96,96,46642,WEMIX,Wemix Token,wemix-token,97,3.07,-10.38,-1.90,11.61,0.000043,1050354860.00,9.196505e+07,2.735501e+07,342372899.00,947991045.86436,1000000000
97,97,167,GNO,Gnosis,gnosis-gno,98,403.52,-5.54,0.05,4.15,0.005642,1044940724.22,1.808463e+07,1.409358e+07,2589588.00,3000000,3000000
98,98,48537,LUNC,Terra Classic,terra-luna,99,0.000176,-3.36,0.24,-7.55,2.46E-9,1025750365.77,3.002336e+07,1.965864e+07,5832569595040.00,6576804998885.5,6576804998885.5
99,99,45467,EGLD,Elrond eGold,elrond-egold,100,75.59,3.30,2.88,14.00,0.001057,1021040775.33,4.473601e+07,4.563825e+07,13508333.00,20000000,None

In [11]:
hora_actual = pd.to_datetime('now')
hora_formateada = hora_actual.strftime("%D %H:%M:%S")

Aplico un filtro de los datos que me interesan y les agrego la hora de Extaccion

In [12]:
df_filtrado= df.loc[0:15,['indice','id','symbol','name','rank','price_usd','percent_change_24h','percent_change_1h','market_cap_usd']]

hora_actual = pd.to_datetime('now')
hora_formateada = hora_actual.strftime("%D %H:%M:%S")

df_filtrado =df_filtrado.assign(Extraction_time =hora_formateada)
df_filtrado

,indice,id,symbol,name,rank,price_usd,percent_change_24h,percent_change_1h,market_cap_usd,Extraction_time
0,0,90,BTC,Bitcoin,1,71517.07,-2.03,0.01,1404837620646.40,03/14/24 21:12:14
1,1,80,ETH,Ethereum,2,3887.27,-2.87,0.15,475706278896.94,03/14/24 21:12:14
2,2,2710,BNB,Binance Coin,3,604.72,-3.29,-0.01,100868441793.46,03/14/24 21:12:14
3,3,518,USDT,Tether,4,1.00,0.10,-0.15,90976504218.18,03/14/24 21:12:14
4,4,48543,SOL,Solana,5,178.34,9.03,2.86,76043156263.29,03/14/24 21:12:14
5,5,46971,STETH,Staked Ether,6,3876.16,-2.87,0.16,35738947088.48,03/14/24 21:12:14
6,6,58,XRP,XRP,7,0.670727,-2.44,0.02,28780585799.34,03/14/24 21:12:14
7,7,257,ADA,Cardano,8,0.753786,-1.23,0.44,26629466881.18,03/14/24 21:12:14
8,8,2,DOGE,Dogecoin,9,0.178384,5.70,0.63,25564440393.02,03/14/24 21:12:14
9,9,33285,USDC,USD Coin,10,1.00,0.09,0.01,24077282069.59,03/14/24 21:12:14
10,10,44883,AVAX,Avalanche,11,54.52,-0.34,0.72,19939781255.66,03/14/24 21:12:14
11,11,45088,SHIB,Shiba Inu,12,0.000033,2.48,0.89,19243087223.61,03/14/24 21:12:14
12,12,45219,DOT,Polkadot,13,11.66,3.56,1.55,15243855897.56,03/14/24 21:12:14
13,13,54683,TON,TON Coin,14,4.04,-6.06,-0.05,13962712357.91,03/14/24 21:12:14
14,14,2751,LINK,ChainLink,15,20.97,1.28,-0.52,11679051428.67,03/14/24 21:12:14
15,15,2713,TRX,TRON,16,0.129061,-2.21,0.15,11414403659.86,03/14/24 21:12:14

Cambio los tipos de datos

In [13]:
df_filtrado["price_usd"]= df_filtrado["price_usd"].astype("float64")

df_filtrado["percent_change_24h"]= df_filtrado["percent_change_24h"].astype("float64")

df_filtrado["percent_change_1h"]= df_filtrado["percent_change_1h"].astype("float64")

df_filtrado["market_cap_usd"]= df_filtrado["market_cap_usd"].astype("float64")

Conexion con Amazon redshift

In [ ]:
#Prueba de conexion
url= 
data_base=
user=
pwd=


try:
    conn = psycopg2.connect(
        host=url,
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Conectado a Postgres")
    
except Exception as e:
    print("No es posible conectarse a Postgres")
    print(e)

Creacion de tabla en redshift

In [ ]:
def cargar_en_postgres(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','int32': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)','bool':'BOOLEAN'}
    sql_dtypes = [type_map[str(dtypes)] for dtypes in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [14]:
cargar_en_postgres(conn=conn, table_name= "ValoresCryptos", dataframe=df_filtrado)

Proceso terminado