Obtengo los datos de la API y los visualizo con PANDAS

In [14]:
import requests

import pandas as pd
from datetime import date

import psycopg2
from dotenv import load_dotenv
import os 

from psycopg2.extras import execute_values

url = "https://api.coinlore.net/api/tickers/?start=0&limit=100"
response = requests.get(url)
datos= response.json()

df=pd.DataFrame.from_dict(datos['data']).reset_index().rename(columns={"index":'indice'})
df

,indice,id,symbol,name,nameid,rank,price_usd,percent_change_24h,percent_change_1h,percent_change_7d,price_btc,market_cap_usd,volume24,volume24a,csupply,tsupply,msupply
0,0,90,BTC,Bitcoin,bitcoin,1,70802.61,1.55,-0.09,9.04,1.00,1392563114617.40,2.216901e+10,2.067725e+10,19668246.00,19668246,21000000
1,1,80,ETH,Ethereum,ethereum,2,3633.49,3.74,0.01,7.93,0.051308,444648883407.52,9.260917e+09,9.176464e+09,122375302.00,122375302,
2,2,2710,BNB,Binance Coin,binance-coin,3,608.15,0.70,0.43,9.70,0.008588,101440248704.76,5.249499e+08,7.533724e+08,166801148.00,192443301,200000000
3,3,518,USDT,Tether,tether,4,1.00,0.01,-0.01,-0.11,0.000014,101182870955.84,3.878055e+10,4.084285e+10,100729057191.00,103797122782.55,
4,4,48543,SOL,Solana,solana,5,198.85,2.31,-0.11,14.36,0.002808,88095522544.37,1.897410e+09,2.754527e+09,443015903.00,491561409.22682,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,87933,CHEEL,Cheelee,cheelee,96,17.89,1.79,0.37,5.79,0.000253,963031125.91,4.968445e+06,5.020603e+06,53837995.00,1000000000,1000000000
96,96,48807,AIOZ,AIOZ Network,aioz-network,97,0.891686,9.13,5.43,-2.47,0.000013,961028865.79,1.091835e+07,1.318424e+07,1077766014.00,1077766014.3069,
97,97,42531,KLAY,Klaytn,klaytn,98,0.264231,0.49,-0.29,2.45,0.000004,942234511.71,1.031614e+07,1.135015e+07,3565955912.00,5909271581.8816,
98,98,48537,LUNC,Terra Classic,terra-luna,99,0.000159,4.68,-0.95,4.45,2.25E-9,925427334.01,3.767509e+07,2.070640e+07,5812471959612.00,6576804998885.5,6576804998885.5
99,99,55865,RBN,Ribbon Finance,ribbon-finance,100,1.71,0.00,-0.12,27.11,0.000024,920711497.77,8.678852e+06,1.176257e+07,537093440.00,1000000000,1000000000

In [15]:
hora_actual = pd.to_datetime('now')
hora_formateada = hora_actual.strftime("%D %H:%M:%S")

Aplico un filtro de los datos que me interesan y les agrego la hora de Extaccion

In [16]:
df_filtrado= df.loc[0:15,['indice','id','symbol','name','rank','price_usd','percent_change_24h','percent_change_1h','market_cap_usd']]

hora_actual = pd.to_datetime('now')
hora_formateada = hora_actual.strftime("%D %H:%M:%S")

df_filtrado =df_filtrado.assign(Extraction_time =hora_formateada)
df_filtrado

,indice,id,symbol,name,rank,price_usd,percent_change_24h,percent_change_1h,market_cap_usd,Extraction_time
0,0,90,BTC,Bitcoin,1,70802.61,1.55,-0.09,1392563114617.40,03/31/24 18:38:13
1,1,80,ETH,Ethereum,2,3633.49,3.74,0.01,444648883407.52,03/31/24 18:38:13
2,2,2710,BNB,Binance Coin,3,608.15,0.70,0.43,101440248704.76,03/31/24 18:38:13
3,3,518,USDT,Tether,4,1.00,0.01,-0.01,101182870955.84,03/31/24 18:38:13
4,4,48543,SOL,Solana,5,198.85,2.31,-0.11,88095522544.37,03/31/24 18:38:13
5,5,46971,STETH,Staked Ether,6,3613.18,3.49,-0.02,33314207070.07,03/31/24 18:38:13
6,6,2,DOGE,Dogecoin,7,0.220975,10.29,-0.03,31748956118.92,03/31/24 18:38:13
7,7,33285,USDC,USD Coin,8,1.00,0.07,0.00,29190824640.74,03/31/24 18:38:13
8,8,58,XRP,XRP,9,0.626429,0.66,-0.19,26879760068.24,03/31/24 18:38:13
9,9,257,ADA,Cardano,10,0.646859,0.22,-0.07,22956548771.76,03/31/24 18:38:13
10,10,44883,AVAX,Avalanche,11,53.80,1.39,-0.18,20298212122.68,03/31/24 18:38:13
11,11,54683,TON,TON Coin,12,5.40,2.65,0.43,18716613955.17,03/31/24 18:38:13
12,12,45088,SHIB,Shiba Inu,13,0.000031,1.97,-0.18,17987494708.00,03/31/24 18:38:13
13,13,2321,BCH,Bitcoin Cash,14,683.77,14.45,0.83,13458885641.31,03/31/24 18:38:13
14,14,45219,DOT,Polkadot,15,9.58,1.25,0.14,12516130391.79,03/31/24 18:38:13
15,15,2751,LINK,ChainLink,16,19.01,0.17,-0.40,11162964820.47,03/31/24 18:38:13

Cambio los tipos de datos

In [17]:
df_filtrado["price_usd"]= df_filtrado["price_usd"].astype("float64")

df_filtrado["percent_change_24h"]= df_filtrado["percent_change_24h"].astype("float64")

df_filtrado["percent_change_1h"]= df_filtrado["percent_change_1h"].astype("float64")

df_filtrado["market_cap_usd"]= df_filtrado["market_cap_usd"].astype("float64")

Conexion con Amazon redshift

In [18]:
#Prueba de conexion
url= "data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com"
data_base= "data-engineer-database"
user= "luchitrading_coderhouse"
pwd= "6vJ8t1V7Tp"
try:
    conn = psycopg2.connect(
        host=url,
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Conectado a Postgres")
    
except Exception as e:
    print("No es posible conectarse a Postgres")
    print(e)

Conectado a Postgres

Creacion de tabla en redshift

In [19]:
def cargar_en_postgres(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','int32': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)','bool':'BOOLEAN'}
    sql_dtypes = [type_map[str(dtypes)] for dtypes in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [20]:
cargar_en_postgres(conn=conn, table_name= "ValoresCryptos", dataframe=df_filtrado)

Proceso terminado